# POSTGRES_USER=random
# DB_HOST=localhost
POSTGRES_USER=pezdabolius
DB_HOST=db
POSTGRES_PASSWORD=defender2715
DB_PORT=5432
POSTGRES_DB=project

REDIS_HOST=redis
REDIS_PORT=6379

SECRET_KEY=double_dog_pee
ALGORITHM=HS256
SHEMA_CRYPT=bcrypt
ACCESS_TIME=7
REFRESH_TIME=15