# =========================

# Database

# =========================

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=project
DB_HOST=localhost
DB_PORT=5432

# =========================

# Redis

# =========================

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# =========================

# Security / JWT

# =========================

SECRET_KEY=your_secret_key
ALGORITHM=HS256
SHEMA_CRYPT=bcrypt

ACCESS_TIME=7
REFRESH_TIME=15
VERIFY_TIME=30
RESET_TIME=5

# =========================

# Email Service (Resend / SMTP)

# =========================

RESEND_KEY=your_resend_api_key

MAIL=[your_email@example.com](mailto:your_email@example.com)
MAIL_PASSWORD=your_email_password
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
